In [2]:
import pandas as pd
import csv

In [3]:
kaggle = pd.read_csv('kaggle_transformed.csv')
scraped = pd.read_csv('scraped_transformed.csv')

Combine the datasets

In [4]:
# Merge the two datasets
merged = pd.concat([kaggle, scraped], ignore_index=True)

In [5]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2609 entries, 0 to 2608
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2609 non-null   object
 1   open    2609 non-null   float64
 2   high    2609 non-null   float64
 3   low     2609 non-null   float64
 4   close   2609 non-null   float64
 5   volume  2609 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 122.4+ KB

Let's see if there are duplicate values. There must be some duplicates.

In [6]:
# check for duplicates
merged.date.duplicated().sum()

26

Let's remove this duplicate values.

In [7]:
# remove duplicates
merged.drop_duplicates(subset='date', inplace=True)

In [11]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2583 entries, 0 to 2608
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2583 non-null   datetime64[ns]
 1   open    2583 non-null   float64
 2   high    2583 non-null   float64
 3   low     2583 non-null   float64
 4   close   2583 non-null   float64
 5   volume  2583 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 141.3 KB

In [12]:
merged.date = pd.to_datetime(merged.date)

In [15]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2583 entries, 0 to 2608
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2583 non-null   datetime64[ns]
 1   open    2583 non-null   float64
 2   high    2583 non-null   float64
 3   low     2583 non-null   float64
 4   close   2583 non-null   float64
 5   volume  2583 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 141.3 KB

This is the dataset that can be used to build a data warehouse.

In [14]:
merged.to_csv('merged.csv', index=False)

In the next step, I'll take the data of recent times as well to keep the warehouse up to date.